<div id="menu">
  <div id="menu-items">
    <%= link_to 'Home', root_path, class: 'menu-item' %>
    <%= link_to 'About', about_path, class: 'menu-item' %>
    <%= link_to 'Projects', projects_path, class: 'menu-item' %>
    <%= link_to 'Contact', contact_path, class: 'menu-item' %>
    <%= link_to 'Resume', resume_path, class: 'menu-item' %>
  </div>
  <div id="menu-background-pattern"></div>
</div>